.main__last-screen-paragraph {
  font-size: 14px;
  margin: 0 0 80px;
  padding-top: 30px;
  text-align: center;
}

@media screen and (max-width: 540px) {
  .main__last-screen-paragraph {
    margin-bottom: 30px;
  }
}
